p {
  font-size: 14px;
}

.App {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 12% 10px 12%;
}

.header-two {
  background-color: #253530;
  color: white;
  display: flex;
  padding: 3px 12% 3px 12%;
}

.header-two p {
  padding: 0px 10px 0px 10px;
}

.header-three {
  background-color: #ffffff;
  color: #0682ff;
  display: flex;
  justify-content: flex-start;
  padding: 10px 12% 10px 12%;
}

.logo {
  flex-grow: 1;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right p {
  padding: 0px 10px 0px 10px;
}

.header-category {
  margin-right: 14px;
}

.search-bar {
  padding: 7px;
  margin-left: auto;
}

.search-bar input {
  height: 28px;
  width: 300px;
}

.search-bar button {
  font-size: large;
  background-color: #4CAF51;
  border: none;
  padding: 5px 8px 7px 8px;
}

.main-container {
  display: flex;
  padding: 1% 12% 0% 12%;
  background-color: #eaeaea;
}

.submit-panel {
  width: 200px;
  height: 400px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}

@keyframes flash {
  from { background-color: rgba(205, 224, 249, 0.9); }
  to { background-color: #ffffff; }
}

.flash-animation {
  animation: flash 0.2s ease-out;
}

.editing-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(205, 224, 249, 0.9);
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.05s;
  color: black;
  padding-top: 10px;
}

.editing-sidebar.open {
  width: 380px;
}

.editing-sidebar.open-large {
  width: 560px;
}

.white-inner-box {
  flex-grow: 1;
  background-color: white;
  width: 93%;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
}

.editing-fields-div {
  padding: 20px;
}

.editing-fields-div > * {
  margin: 8px 8px 12px 8px;
}

.editing-field-input {
  padding: 7px;
}

.editing-label {
  font-size: 12px;
  margin: 4px 0px 4px 0px;
}

.btn-b {
  background-color: white;
  border: 0;
  border-radius: 100px;
  padding: 5px 8px 5px 8px;
  margin: 2px 1px 5px 1px;
  width: 120px;
}

.read-only-style {
  color: #6c757d;
  background-color: #e9ecef; 
  border: 1px solid #ced4da; 
  cursor: not-allowed; 
  pointer-events: none; 
}

.submit-button {
  background-color: #4CAF51;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

.sidebar-info {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.main-content {
  flex-grow: 1;
  margin: 20px;
  background-color: #ffffff;
}

.main-content-header {
  background-color: black;
  color: white;
  padding: 5px 7px 5px 7px;
  border: 9px solid black;
}

.main-content-header h1 {
  margin: 0px;
}

.form-fields {
  padding: 20px;
}

.form-instructions{
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 20px;
}

.required::before {
  content: "*";
  color: red;
  margin-right: 6px;
  font-size: 20px;
}

.field-container {
  padding: 6px;
  margin-right: 14px;
}

.display-flex {
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 98%;
}

.half-width {
  width: 42%;
  display: inline-block;
}

.one-column {
  display: block;
}

.two-column {
  display: inline-block;
}

.field-label {
  display: block;
  font-size: 14px;
}

.help-icon {
  display: inline-block;
  font-size: 14px;
  font-weight: 900;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #6c757d;
  color: white;
  text-align: center;
  line-height: 15px;
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}

.field-input {
  padding: 7px;
}

.help-tag {
  background-color: #eaeaea;
  border-radius: 6px;
  margin: 3px 0px 6px 0px;
  padding: 10px;
}

.p-label {
  display: contents;
  font-size: 14px;
}

.purple-border {
  border: 1px dotted violet;
}

.purple-text {
  display: inline;
  padding: 0px;
  font-size: 10px;
  color: violet;
}

.btn-a {
  background-color: rgb(205, 224, 249);
  border: 0;
  border-radius: 100px;
  padding: 6px 8px 6px 8px;
  margin: 10px 1px 5px 1px;
  width: 120px;
}

.btn-a-wide {
  background-color: rgb(205, 224, 249);
  border: 0;
  border-radius: 100px;
  padding: 6px 8px 6px 8px;
  margin: 10px 5px 5px 5px;
  width: 120px;
}

.btn-a-small {
  font-size: 10px;
  background-color: rgb(205, 224, 249);
  border: 0;
  border-radius: 100px;
  padding: 6px 8px 6px 8px;
  margin: 2px 1px 5px 1px;
}

.display-block {
  display: block;
}

.option-container {
  padding: 10px;
}