.test-container {
  margin: 8px;
  background-color: red;
}

.test-field-list {
  padding: 8px  ;
  background-color: blue;
}

p {
  font-size: 14px;
}

.App {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 12% 10px 12%;
}

.header-two {
  background-color: #253530;
  color: white;
  display: flex;
  padding: 3px 12% 3px 12%;
}

.header-two p {
  padding: 0px 10px 0px 10px;
}

.header-three {
  background-color: #ffffff;
  color: #0682ff;
  display: flex;
  justify-content: space-between;
  padding: 10px 12% 10px 12%;
}

.logo {
  flex-grow: 1;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right p {
  padding: 0px 10px 0px 10px;
}

.search-bar {
  padding: 7px;
}

.search-bar input {
  height: 28px;
  width: 300px;
}

.search-bar button {
  font-size: large;
  background-color: #4CAF51;
  border: none;
  padding: 5px 8px 7px 8px;
}

.main-container {
  display: flex;
  padding: 1% 12% 0% 12%;
  background-color: #eaeaea;
}

.sidebar {
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}

.submit-button {
  background-color: #4CAF51;
  color: black;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

.sidebar-info {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.main-content {
  flex-grow: 1;
  margin: 20px;
  background-color: #ffffff;
}

.main-content-header {
  background-color: black;
  color: white;
  padding: 5px 7px 5px 7px;
  border: 9px solid black;
}

.main-content-header h1 {
  margin: 0px;
}

.form-fields {
  padding: 20px;
}

.form-instructions{
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 20px;
}

.required::before {
  content: "*";
  color: red;
  margin-right: 6px;
  font-size: 20px;
}

.field-container {
  padding: 6px;
  margin-right: 14px;
}

.full-width {
  width: 98%;
}

.half-width {
  width: 42%;
  display: inline-block;
}

.one-column {
  display: block;
}

.two-column {
  display: inline-block;
}

.field-label {
  display: block;
  font-size: 14px;
}

.field-input {
  padding: 7px;
}

.help-tag {
  background-color: #eaeaea;
  border-radius: 6px;
  margin: 3px 0px 6px 0px;
  padding: 10px;
}

.p-label {
  display: contents;
  font-size: 14px;
}